.popup {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 12px;
    width: 150px;
}

.title {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 100px auto;
}

.button {
    width: 100%;
    margin-top: 5px;
}