.root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header {
    display: flex;
}

.discard {
    margin-left: auto;
}

.discard:hover {
    color: red;
    cursor: pointer;
}



.info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.bombCount {
    color: #444;
    background-color: white;
    justify-self: start;
    font-size: 16px;
}

.time {
    color: #444;
    background-color: white;
    font-size: 16px;
    justify-self: end;
}